body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Crimson Pro', serif;
}

*{
    margin: 0;
    padding: 0;
}header {
    background-color: lemonchiffon;
}

.container {
    margin: auto;
    width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {height: 60px;width: 100px;}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 10px  40px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: left;
}

.background-image{
    background-size: cover;
}

/* home hero start */
.home-hero-content {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.home-hero-content h1 {
    font-size: 64px;
    text-align: center;
    color: #fff;
}

.home-hero-content h1 span {
    color: #E67136;
}
.button {
    background: #e67136;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 18px;
    box-shadow: -15px 15px 20px #0003;
    display: inline-block;
}

section.home-hero-section {
    background-size: cover;
    background-position: bottom center;
}
.margin-b-80{
    margin-bottom: 80px;

}


/* home hero end */


section.text-and-image-section .row {
    display: flex;
    align-items: center;
    gap: 40px;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

section.text-and-image-section .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
section.text-and-image-section h2 {
    font-size: 48px;
    color: #E67136;
}

section.text-and-image-section h3 {
    font-size: 32px;
    
}
section.text-and-image-section .content p {
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
}